<!doctype html>
<html>
    <head>
        <title>Deffro</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <style>     
            body{
              font-family: 'Quicksand', sans-serif;
            }
            #sidebar{
                width: 300px;
                position: fixed;
                top: 0px;
                left: 0px;
                bottom: 0px;
                background-color: orange;
                color: white;
            }
            #sidebar div{
            	font-size: 20pt;
            	padding-top: 10px;
            	margin-left: 25px;
            }
            #logo img{
                width: 250px;
            }
            #mainBody{
            	position: fixed;
            	left: 320px;
            	top: 20px;
            	bottom: 0px;
            	right: 0px;
            }
			.ttl{
				font-size: 24pt;
				color: orange;
			}
        </style>
    <script>
      $(document).ready(function(){
          $("#alarmBody").show();
          $("#newsBody").hide();
          $("#aboutBody").hide();
          $("#helpBody").hide();
          $("#alarm").css("color", "blue");
          $("#alarm").click(function(){
              $("#alarm").css("color", "blue");
			  $("#help").css("color", "white");
			  $("#news").css("color", "white");
			  $("#about").css("color", "white");
			  $("#alarmBody").show();
			  $("#newsBody").hide();
			  $("#aboutBody").hide();
			  $("#helpBody").hide();
          });
          $("#news").click(function(){
              $("#alarm").css("color", "white");
			  $("#help").css("color", "white");
			  $("#news").css("color", "blue");
			  $("#about").css("color", "white");
			  $("#alarmBody").hide();
			  $("#newsBody").show();
			  $("#aboutBody").hide();
			  $("#helpBody").hide();
          });
          $("#help").click(function(){
              $("#alarm").css("color", "white");
			  $("#help").css("color", "blue");
			  $("#news").css("color", "white");
			  $("#about").css("color", "white");
			  $("#alarmBody").hide();
			  $("#newsBody").hide();
			  $("#aboutBody").hide();
			  $("#helpBody").show();
          });
          $("#about").click(function(){
              $("#alarm").css("color", "white");
			  $("#help").css("color", "white");
			  $("#news").css("color", "white");
			  $("#about").css("color", "blue");
			  $("#alarmBody").hide();
			  $("#newsBody").hide();
			  $("#aboutBody").show();
			  $("#helpBody").hide();
          });
        });
    </script>

    </head>
    <body>
        <div id = "sidebar">
            <div id = "logo"><img src = "static/logo.png" alt = "logo"></div>
            <div id = "alarm">Alarm</div>
            <div id = "news">News</div>
            <div id = "about">About</div>
            <div id = "help">Help</div>
        </div>
        <div id = "mainBody">
            <div id = "alarmBody">
                <div class = "ttl">Alarm</div>
                <form action = "dashboard" method = "POST">
                    Current Alarm: {{alarmTime}}<br>
                    <input type = "time" name = "alarmTime">
                    <input type = "submit" name = "setAlarm" value = "Set Alarm"><br>
					<span class = "msg">{{alarmMsg}}</span>
                </form>
            </div>
            <div id = "newsBody">
                <div class = "ttl">News</div>
                <form action = "dashboard" method = "POST">
                    <input type = "checkbox" name = "category" value = "world">World
                    <input type = "checkbox" name = "category" value = "nation">Nation
                    <input type = "checkbox" name = "category" value = "politics">Politics<br>
                    <input type = "checkbox" name = "category" value = "business">Business
                    <input type = "checkbox" name = "category" value = "technology">Technology
                    <input type = "checkbox" name = "category" value = "science">Science<br>
                    <input type = "checkbox" name = "category" value = "health">Health
                    <input type = "checkbox" name = "category" value = "art">Art
                    <input type = "checkbox" name = "category" value = "food">Food
                    <input type = "submit" name = "setNews" value = "Submit"><br>
					<span class = "msg">{{newsMsg}}</span>
                </form>
            </div>
            <div id = "aboutBody">
                <div class = "ttl">About</div>
                <div class = "txt"> </div>
            </div>
            <div id = "helpBody">
                <div class = "ttl">Help</div>
                <div class = "txt"> </div>
            </div>
        </div>
    </body>
</html>