{% block style %}
        <style>     
            body{
              font-family: 'Quicksand', sans-serif;
            }
            #sidebar{
                width: 300px;
                position: fixed;
                top: 0px;
                left: 0px;
                bottom: 0px;
                background-color: orange;
                color: white;
            }
            #sidebar div{
                font-size: 20pt;
                padding-top: 10px;
                margin-left: 25px;
            }
            #logo img{
                width: 250px;
            }
            #mainBody{
                position: fixed;
                left: 300px;
                top: 0px;
                bottom: 0px;
                right: 0px;
            }
        </style>
{% endblock %}
{% block content %}
        <div id = "sidebar">
            <div id = "logo"><img src = "/static/img/logo.png" alt = "logo"></div>
            <div id = "alarm">Alarm</div>
            <div id = "news">News</div>
            <div id = "about">About</div>
            <div id = "help">Help</div>
        </div>
        <div id = "mainBody">
            <div id = "alarmBody">
                <div class = "ttl">Alarm</div>
                <form action = "." method = "POST">
                    Current Alarm: {{ alarmTime }}<br>
                    <input type = "time" name = "alarmTime">
                    <input type = "submit" name = "setAlarm" value = "Set Alarm">
                </form>
            </div>
            <div id = "newsBody">
                <div class = "ttl">News</div>
                <form action = "." method = "POST">
                    <input type = "checkbox" name = "category" value = "">-Insert Category Name
                    <input type = "submit" name = "setNews" value = "Submit">
                </form>
            </div>
            <div id = "aboutBody">
                <div class = "ttl">About</div>
                <div class = "txt"> </div>
            </div>
            <div id = "helpBody">
                <div class = "ttl">Help</div>
                <div class = "txt"> </div>
            </div>
        </div>
{% endblock %}